[run]
branch=True
cover_pylib=False

[report]
exclude_lines = 
    def __repr__

omit = 
    /System
    /Library
    /usr
    plugins/
    test_plugins/
    testreloadplugin.py
    lib/thirdparty
    lib/db/drivers/y_serial
